.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #003366;
  border-radius: 12px;
  /* width: 80%; */
  margin: 0 auto;
}

.carousel-box {
  text-align: center;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.carousel-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #d71e28;
  margin-bottom: 0.5rem;
}

.carousel-subtitle {
  font-size: 1rem;
  color: #003366;
  margin-bottom: 1.5rem;
}

.carousel-image {
  border-radius: 8px;
}

.carousel-image a {
  text-decoration: none;
}

.carousel-image header {
  color: #003366;
  font-weight: bold;
}

.carousel-image description {
  color: #333333;
}
