
.profile-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 850px;
  margin: auto;
  animation: profileGrow 1s ease-in-out;
}

.profile-card {
  background: white;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: profileGrow 1s ease-in-out;
}

.profile-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid #ffcf71;
  animation: profileImageGrow 1s ease-in-out;
}

.header-card {
  background-color: #003366;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-info {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
}

.profile-name {
  font-size: 1.9rem;
  font-weight: bold;
  color: #ffcf71;
  animation: profileGrow 1s ease-in-out;
}

.profile-branch {
  font-size: 1.4rem;
  color: #fff;
  animation: profileGrow 1s ease-in-out;
}

.status-badge {
  font-size: 1rem;
  background-color: #f7f7f7;
  color: #333;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
  animation: profileGrow 1s ease-in-out;
}

/* Animations */
@keyframes profileGrow {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes profileImageGrow {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
