.profile-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 850px;
  margin: auto;
  animation: profileGrow 1s ease-in-out;
}

.profile-card {
  background: linear-gradient(135deg, rgba(28, 28, 28, 0.9), rgba(40, 40, 40, 0.95));
  color: #ededed;
  padding: 1.8rem;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  animation: profileGrow 1s ease-in-out;
}

.profile-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.profile-picture {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid #ffcf71;
  animation: profileImageGrow 1s ease-in-out;
}

.header-card {
  background: linear-gradient(100deg, #010038, #A50F2B);
  animation: profileGrow 1s ease-in-out;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.profile-name {
  font-size: 1.9rem;
  font-weight: bold;
  color: #ffcf71;
  animation: profileGrow 1s ease-in-out;
}

.profile-branch {
  font-size: 1.4rem;
  color: #ededed;
  animation: profileGrow 1s ease-in-out;
}

.status-badge {
  font-size: 1rem;
  background-color: #010038;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  animation: profileGrow 1s ease-in-out;
}

@keyframes profileGrow {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes profileImageGrow {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
